/* 
========================================== 
Import fonts
========================================== 
*/

@font-face {
    font-family: 'Themify';
    src: url("../media/fonts/themify.ttf");
  }

@font-face {
    font-family: 'FontAwesome';
    src: url("../media/fonts/fontawesome-webfont.ttf");
  }

@font-face {
    font-family: 'Lanenar Lane';
    src: url("../media/fonts/lanenar_Lane.ttf");
  }

@font-face {
    font-family: 'Glyphicons Halflings Regular';
    src: url("../media/fonts/glyphicons-halflings-regular.ttf");
  }

/* 
========================================== 
Navbar Tracker 
========================================== 
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family:  'Lanenar Lane';    
  margin: 0;
  padding: 0;
  background: #eee;
    overflow-x: hidden;
}

nav {
  z-index: 10;    
  position: fixed;
  height: 100vh;
  width: 4rem;
  overflow: hidden;
  transition: width 0.3s ease;
}

nav:hover, nav.pinned {
  width: 10rem;
}

nav #logo {
  height: 6rem;
  line-height: 6rem;
  padding-left: 0.5rem;
}

nav a {
  text-decoration: none!important;
  vertical-align: middle;
  display: table;
  width: 10rem;
}

nav a.active .fa {
  border-left: 3px solid #f60;  
}

nav a:hover {
  background: darkblue;
  color: #bee0ff;
}

nav a .fa {
  width: 4rem;
  display: table-cell;
  font-size: 2rem;
  padding: 1rem 0;
  text-align: center;
}

nav a.label {
  height: 50px;   
  display: table-cell;
  vertical-align: middle;
}

.sidebar-footer{
    height: 50px;
    position: absolute;
    width: 100%;
    bottom: 0;
    list-style-type: none;
    padding-bottom:4em;
}

/* 
========================================== 
Animation logo navbar
========================================== 
*/

.image {
    height: 50%;
    -webkit-animation:spin 7s linear infinite;
    -moz-animation:spin 7s linear infinite;
    animation:spin 7s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* 
========================================== 
Cards opacity animation 
========================================== 
*/
.noShow{
   opacity: 0; 
}

.show{ 
-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.covid_tracker-md {
    width: 490px;
    height: 100vh;
    background-color: #ffffff;
    box-shadow: 0 0 70px 3px #1c1e8048;
    display: flex;
    flex-direction: column;
    padding-left: 6%;
    padding-top: 30px; 
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
}@media (max-width: 768px) {
  .covid_tracker-md {
    padding-left: 20%; 
    height: 735px;}
}

h2 {
    font-size: 25px;
    color:rgb(0, 0, 0)

}
.info{
    height: 50px;
    width: 370px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-top: 13px;
    margin: 5px 0 10px 0;
    font-weight: bolder;
    font-size: 13px;
}

.total {
    background-color: rgb(255, 242, 242);
    color:rgb(20, 17, 88);
}

#totalCase{
    color: red;
}

.activeCases {
    background-color: rgb(255, 249, 241);
    color:rgb(20, 17, 88)
}

#totalActive{
    color: orange;
}

.recovered {
    background-color: rgb(237, 255, 236);
    color:rgb(20, 17, 88)
}

#totalRecovered {
    color: green;
}

.deaths {
    background-color: rgb(238, 251, 255);
    color:rgb(20, 17, 88);
}

#totalDeaths {
    color: blue;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  color:rgb(20, 17, 88);
  margin-top: 15px; 
}

.topTenCountry {
  height: 35px;
  width: 370px;
  border-radius: 5px;
  box-shadow: 0.125px 0.125px 1px 1px #05051848;
  display: flex;
  flex-direction: row;
  
}

.flag {
  height: 20px;
  width: 40px;
  margin-top: 7px;
  margin-left: 10px;
  border-radius: 5px;
}

.flag img {
    width: 70%;
}

.country {
  height: 20px;
  width: 40px;
  margin-top: 10px;
  margin-left: 10px; 
  border-radius: 5px;
  font-size: 10px;
}

.dato, .numbers, .containerMas{
  font-weight: bolder;
}
.dato, .containerMas{
    font-size: 0.75rem;
    top:15%;
}
.containerMas{
    background-color: white;
    margin-bottom: 50% ; 
}
.numeros {
    font-size: 1rem;
}